.container {
  width: 960px;
  margin: 0 auto;
}

.person .img-container {
  width: 25%;
}

.person .person-description {
  width: 70%;
}

.box-container {
  grid-template-columns: repeat(3, 30%);
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  width: 720px;
}
