* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.4;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  padding: 10px 0;
}

a.disabled {
  cursor: not-allowed;
  color: #aaa;
}

.btn {
  border: 3px solid #fff;
  padding: 11px 57px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s;
}
