* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1 {
  margin-bottom: 65px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.4;
}

h2 {
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: bold;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a.disabled {
  cursor: not-allowed;
}

.btn {
  border: 3px solid #fff;
  padding: 11px 57px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.container {
  width: 960px;
  margin: 0 auto;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #4e4e4e;
}

nav a {
  margin-left: 45px;
  color: #fff;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-container > a:first-of-type {
  margin: 0;
  font-weight: bold;
}

#home {
  position: relative;
  height: 100vh;
  width: 100%;
  color: #fff;
  background-image: url("https://picsum.photos/1920/1080");
  background-size: cover;
  background-position: center;
}

.home-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.home-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.home-text h1,
h2 {
  margin-bottom: 50px;
  color: #fff;
}

#about {
  padding: 60px 0;
  color: #000;
  background-color: #f1f1f1;
}

#about h1 {
  margin-top: 40px;
}

#about .person {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
  font-size: 18px;
  line-height: 1.5;
}

#about .person:nth-child(odd) {
  flex-direction: row-reverse;
}

#about .img-container {
  width: 25%;
  text-align: center;
}

#about img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto auto;
  border-radius: 50%;
}

#about .person-description {
  width: 70%;
}

#about .person:nth-child(odd) .person-description {
  text-align: right;
}

#about .person-description h3 {
  margin: 20px 0;
  font-weight: bold;
}

#offer {
  padding: 80px 0;
  background-color: #405d78;
}

#offer h1 {
  margin-bottom: 80px;
  color: #fff;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: auto;
  grid-column-gap: 3vh;
  grid-row-gap: 3vh;
  width: 60vh;
  margin: 0 auto;
}

.box-container > div::after {
  content: "";
  display: block;
  /* trick ustawiający wysokość na 100% szerokości elementu */
  padding-bottom: 100%;
}

.box-container > div {
  position: relative;
}

.box-container .box-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: #000;
  background-color: #f1f1f1;
  font-size: 24px;
  line-height: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.box-content:hover {
  transform: scale(1.05);
}

.box-content em {
  font-size: 18px;
}

.box-new::before {
  content: "";
  position: absolute;
  top: calc(-25px / 2);
  left: calc(-25px / 2);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #e07a64;
}

footer {
  padding: 20px 0;
  background-color: #4e4e4e;
  color: #fff;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer h3 {
  font-size: 18px;
  font-weight: bold;
}

footer a {
  margin-left: 18px;
  color: #fff;
  font-size: 32px;
}
